@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

#Nav{
    width: 100%;
    background-color: #eaeaea;
}
#Nav h1 {
  color: #333;
  font-family: 'Ubuntu', sans-serif;
}

/* #favs{
    background: transparent;
    color: #e48c19;
    border: none;
    font-family: 'Ubuntu', sans-serif;
} */

/* .dropdown{
    width: 20%;
    height: 900px;
    background-color: #333;
} */
